/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #000000 url(images/img01.jpg) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #4D4D4D;
}